<ul class="photo-cards">
    {{#each this}}
    <li class="photo-card">
    <div>
        <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width = "380"  height = "240"/>
        
        <div class="info">
       
        <p class="info-item">
            <b>Likes</b>
            <span>{{likes}}</span>
        </p>
        <p class="info-item">
            <b>Views</b>
            <span>{{views}}</span>
        </p>
        <p class="info-item">
            <b>Comments</b>
            <span>{{comments}}</span>
        </p>
        <p class="info-item">
            <b>Downloads</b>
            <span>{{downloads}}</span>
        </p>
        </div>
    </div>
    </li>
    {{/each}}
</ul>
